@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';


.slider {
  padding: variables.$padding320;
  min-height: 400px;
}

.offer_slider {
 position: relative;
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 justify-content: center;
}

.big_wrapper {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: variables.$z-index;
}

.offer_slide {
  position: relative;
  width: 100%;
  height: 400px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title_block {
  display: none;
}

.navigation_block {
  width: 100%;
  @include mixins.flex(flex, space-between, center);
  margin: 0 auto;
  z-index: variables.$z-index;
}

.offer_slider_prev {
 @include mixins.prevNext(30px, 30px);
 border-radius: 100%;
 border: none;
 z-index: variables.$z-index;
 cursor: pointer;
 margin-left: 10px;
}

.offer_slider_next {
  @include mixins.prevNext(30px, 30px);
  border-radius: 100%;
  border: none;
  z-index: variables.$z-index;
  cursor: pointer;
  margin-right: 10px;
 }

.offer_slider_counter {
 display: none;
}

.see {
  @include mixins.flex(flex, center, center);
  gap: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 222px;
  height: 71px;
  background: variables.$button-color-backg;
  border: none;
  cursor: pointer;
  a {
    color: variables.$color1;
    font-family: TT Hoves;
    font-size: variables.$font-size12;
    font-style: normal;
    font-weight: variables.$font-weight400;
    letter-spacing: variables.$letterSpacing;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.slider_field {
  display: flex;
  transition: 0.7s all;
}

.offer_slider_wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 300px;
  height: 400px;
}

@media (min-width: 576px) {

  .big_wrapper {
    width: 400px;
  }

  .offer_slider_wrapper {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .slider {
    padding: 0 20px 20px 20px;
  }

  .offer_slider {
    position: relative;
    display: grid;
    grid-template-columns: 219px 500px;
    justify-content: flex-start;
   }

   .h1 {
    color: variables.$color2;
    font-family: TT Hoves;
    font-size: variables.$font-size40;
    font-style: normal;
    font-weight: variables.$font-weight300;
   }

   .sub_title {
    color: variables.$color1;
    font-family: TT Hoves;
    font-size: variables.$font-size40;
    font-style: normal;
    font-weight: variables.$font-weight700;
   }

  .title_block {
    display: block;
    margin-bottom: variables.$margin-bottom;
  }

  .navigation_block {
    width: 129px;
    @include mixins.flex(flex, space-between, center);
    gap: 23px;
    margin: 0;
    margin-bottom: variables.$margin-bottom;
    z-index: variables.$z-index;
  }

  .offer_slider_prev {
    @include mixins.prevNext(40px, 40px);
    border-radius: variables.$border-radius;
    border: 1px solid variables.$colorBorder;
    margin-left: 0px;
   }
   
   .offer_slider_next {
    @include mixins.prevNext(40px, 40px);
     border-radius: variables.$border-radius;
     border: 1px solid variables.$colorBorder;
     margin-right: 0px;
    }

  .big_wrapper {
    @include mixins.flex(flex, center, flex-start);
    flex-direction: column;
    width: 100%;
    position: static;
    transform: none;
  }

  .offer_slider_wrapper {
    width: 500px;
    height: 400px;
  }

  .offer_slider_counter {
    display: flex;
    gap: 12px;
   }
   
   .current, .total, .slash {
    color: variables.$color2;
    font-family: TT Hoves;
    font-size: variables.$font-size24;
    font-style: normal;
    font-weight: variables.$font-weight400;
   }
}

@media (min-width: 992px) {
  .slider {
    padding: 0px 45px 60px 45px;
  }

  .offer_slider_prev, .offer_slider_next {
    transition: variables.$transition;
  }

  .offer_slider_prev:hover {
    transition: variables.$transition;
    background-color: variables.$background-hover;
  }

  .offer_slider_next:hover {
    transition: variables.$transition;
    background-color: variables.$background-hover;
  }

  .offer_slider_prev:active {
    background-color: variables.$background-hover-see-active;
  }

  .offer_slider_next:active {
    background-color: variables.$background-hover-see-active;
  }

  .offer_slider {
    grid-template-columns: 385px 500px;
    justify-content: center;
   }

   .h1 {
    font-size: variables.$font-size50;
   }

   .big_wrapper {
    width: 100%;
    position: static;
    transform: none;
  }

   .sub_title {
    font-size: variables.$font-size50;
   }

   .offer_slider_wrapper {
    height: variables.$slide-height;
  }

  .offer_slide {
    height: variables.$slide-height;
  }

  .see {
    transition: variables.$transition;
  }

  .see:hover {
    transition: variables.$transition;
    background-color: variables.$background-hover-see;
  }

  .see:active{
    background-color: variables.$background-hover-see-active;
  }
}

@media (min-width: 1200px) {
  .slider {
    padding: 0 74px 0 74px;
  }

  .offer_slider {
    grid-template-columns: 420px 594px;
    justify-content: center;
   }

  .offer_slider_wrapper {
    width: 593px;
    height: variables.$slide-height1200;
  }

  .offer_slide {
    height: variables.$slide-height1200;
  }

  .offer_slider_prev {
    @include mixins.prevNext(53px, 53px);
   }
   
  .offer_slider_next {
    @include mixins.prevNext(53px, 53px);
  }

  .navigation_block {
    margin-bottom: variables.$margin-bottom1200;
  }

  .h1 {
    font-size: variables.$font-size64;
   }

   .sub_title {
    font-size: variables.$font-size64;
   }

  .title_block {
    margin-bottom: variables.$margin-bottom1200;
  }
}

@media (min-width: 1400px) {
  .slider {
    padding: 0 78px 0 78px;
  }

  .offer_slider {
    grid-template-columns: 402px 770px;
    justify-content: center;
   }

  .offer_slider_wrapper {
    width: 770px;
    height: 829px;
  }

  .offer_slide {
    height: 829px;
  }
}