@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

.task {
  padding: variables.$padding320;
}

.title {
  color: variables.$color2;
  font-family: TT Hoves;
  font-size: variables.$font-size40;
  font-style: normal;
  font-weight: variables.$font-weight300;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1 300px;
  row-gap: 10px;
  justify-content: center;
}

.number {
  color: variables.$colorBorder;
  font-family: 'San Francisco Pro Display Bold';
  font-size: variables.$font-size100;
  font-style: normal;
  font-weight: variables.$font-weight900;
  line-height: normal;
  text-align: center;
 }

 .text {
  color: variables.$color1;
  font-family: TT Hoves;
  font-size: variables.$font-size16;
  font-style: normal;
  font-weight: variables.$font-weight400;
  line-height: 36px;
  text-align: center;
 }


 @media (min-width: 576px) {
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0px;
    column-gap: 20px;
  } 
  
 }

 @media (min-width: 768px) {
  .task {
    padding: variables.$padding768;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0px;
    column-gap: 20px;
  } 

  .block1 {
    @include mixins.flex(flex, center, flex-start);
  }

  .block2 {
    @include mixins.flex(flex, center, flex-start);
  }

  .title {
    text-align: center;
    margin-bottom: 30px;
  }

  .number {
    line-height: 90px;
  }

  .text {
    text-align: left;
    font-size: variables.$font-size16;
   }
 }

@media(min-width: 992px) {
  .task {
    padding: 0px 45px 60px 45px
  }

  .text {
    font-size: variables.$font-size19;
  }
}

 @media (min-width: 1200px) {
  .task {
    padding: 120px 74px 0px 74px;
  }

  .title {
    text-align: left;
    font-size: variables.$font-size64;
  }

  .number {
    font-size: variables.$font-size200;
    line-height: 150px;
   }

   .text {
    text-align: left;
    font-size: variables.$font-size22;
   }
 }

 @media (min-width: 1400px) {
  .task {
    padding: 120px 78px 0px 78px;
  }

  .block1 {
    width: 390px;
  }

  .wrapper {
    column-gap: 110px;
  }
 }

 @media (min-width: 1400px) {
  .task {
    padding: 120px 125px 0px 125px;
  }

   .text {
    font-size: 20px;
   }
 }
