@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

.about {
  padding: variables.$padding320;
}

.wrapper_main {
  display: grid;
  grid-template-columns: repeat(1, 300px);
  justify-content: center;
  background: variables.$backg-color-company-about;
}

.img_wrapper {
  display: grid;
  grid-template-columns: repeat(1, 300px);
  justify-content: center;
  row-gap: 10px;
}

.img_box {
  width: 100%;
  height: 300px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.img_box2 {
  height: 300px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.img_box3 {
  height: 300px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  color:  variables.$color2;
  font-family: TT Hoves;
  font-size: variables.$font-size50;
  font-style: normal;
  text-align: left;
  font-weight: variables.$font-weight300;
  line-height: variables.$line-height;
}

.text {
  color: variables.$color;
  font-family: TT Hoves;
  font-size: variables.$font-size16;
  font-style: normal;
  font-weight: variables.$font-weight300;
  line-height: variables.$line-height25;
  margin-bottom: 30px;
}

.see {
  @include mixins.flex(flex, center, center);
  gap: 15px;
  width: 222px;
  height: 71px;
  background: variables.$button-color-backg;
  border: none;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: pointer;
  a {
    color: variables.$color1;
    font-family: TT Hoves;
    font-size: variables.$font-size12;
    font-style: normal;
    font-weight: variables.$font-weight400;
    letter-spacing: variables.$letterSpacing;
    text-transform: uppercase;
    text-decoration: none;
    padding: variables.$button-click-link-about;
  }
}

@media (min-width: 576px) {

  .wrapper_main {
    display: grid;
    grid-template-columns: repeat(1, 400px);
    justify-content: center;
  }

  .img_wrapper {
    grid-template-columns: repeat(1, 400px);
  }
  
}

@media (min-width: 768px) {
  .about {
    padding: variables.$padding768;
  }
  
  .img_wrapper {
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 140px;
    gap: 10px;
    grid-template-areas:
    "a b"
    "c b";  
    margin-top: 30px;
  }

  .img_box {
    grid-area: a;
    height: 100%;
  }

  .img_box2 {
    grid-area: b;
    height: 80%;
    margin-top: 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .img_box3 {
    grid-area: c;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .wrapper_main {
    display: grid;
    grid-template-columns: 450px 255px;
    justify-content: center;
  }
  
  .title {
    font-size: variables.$font-size40;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .see {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .about {
    padding: 0px 45px 60px 45px;
  }

  .img_box2 {
    height: 80%;
  }

  .img_wrapper {
    grid-template-columns: 225px 215px;
    grid-template-rows: 155px 140px;
    gap: 30px;
  }
  
  .wrapper_main {
    grid-template-columns: 505px 345px;
    justify-content: center;
    column-gap: 30px;
  }

  
  .see {
    margin-bottom: 30px;
  }
  
  .see {
    transition: variables.$transition;
  }

  .see:hover {
    transition: variables.$transition;
    background-color: variables.$background-hover-see;
  }

  .see:active{
    background-color: variables.$background-hover-see-active;
  }
  
}


@media (min-width: 1200px) {
  .about {
    padding: 120px 74px 0 74px;
  }

  .img_box2 {
    margin-top: 35px;
  }

  .img_wrapper {
    grid-template-columns: 270px 270px;
    grid-template-rows: 265px 140px;
  }
  
  .wrapper_main {
    grid-template-columns: 570px 400px;
    background: linear-gradient(to bottom, #FBFBFB 95%, transparent 95%);
  }

  .see {
    margin: 0;
  }

  .title {
    font-size: variables.$font-size64;
    margin-top: 30px;
    margin-bottom: 20px;
  }
    
}

@media(min-width: 1400px) {

  .about {
    padding: 120px 78px 0px 78px;
  }

  .wrapper_main {
    background: linear-gradient(to bottom, #FBFBFB 95%, transparent 95%);
  }
}

@media(min-width: 1440px) {

  .about {
    padding: 120px 125px 0px 125px;
  }

}